In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3
import glob
import subprocess

In [2]:
with open("EVCS_15_B.gms","r") as f:
    list_of_lines = f.readlines()
    
    
list_of_lines[134]

'eq_electricity_cost.. var_electricity_cost =E= (sum(m, var_grid_energy(m) * electricity_prices(m)) + sum(m, var_grid_ex_energy(m) * electricity_prices(m) * 2)) *0.5\n'

In [3]:
list_of_lines[35]

'$include demand_winter.tsv\n'

In [4]:
el_price = [0.25, 0.5, 0.75, 1, 1.25, 1.5, 1.75, 2, 2.25, 2.5, 2.75, 3]

In [5]:
len(el_price)

12

In [ ]:
for i in range(len(el_price)):
    
    with open("EVCS_15_B.gms","r") as f:
        list_of_lines = f.readlines()
        
    list_of_lines[35] = '$include demand_winter.tsv\n'
    
    list_of_lines[134] = "eq_electricity_cost.. var_electricity_cost =E= sum(m, var_grid_energy(m) * electricity_prices(m) *" + str(el_price[i]) + ") + sum(m, var_grid_ex_energy(m) * electricity_prices(m) * 2 *" + str(el_price[i]) + ") \n"
    
    
    print(list_of_lines[134])
    
    with open("EVCS_15_B.gms", "w") as f:
        f.writelines(list_of_lines)
        
    subprocess.run(["gams", "EVCS_15_B.gms", "logOption", "2"])
    
    subprocess.run(["move", "EVCS_15_B_results.db", "EVCS_15_B_results_" + str(el_price[i]) + ".db"], shell = True)
    
    print(el_price[i])

eq_electricity_cost.. var_electricity_cost =E= (sum(m, var_grid_energy(m) * electricity_prices(m)) + sum(m, var_grid_ex_energy(m) * electricity_prices(m) * 2)) *0.25

0.25
eq_electricity_cost.. var_electricity_cost =E= (sum(m, var_grid_energy(m) * electricity_prices(m)) + sum(m, var_grid_ex_energy(m) * electricity_prices(m) * 2)) *0.5

In [13]:
#Extract result data from all result databases and create dataframes for each variable

grid_p = pd.DataFrame()
grid_ex_p = pd.DataFrame()
grid_tot_p = pd.DataFrame()

soc_pen = pd.DataFrame()

grid_e = pd.DataFrame()
grid_ex_e = pd.DataFrame()

ESS_lvl = pd.DataFrame()
ESS_p = pd.DataFrame()

sclrs = pd.DataFrame()

for filename in glob.glob('EVCS_15_B_M1_results*.db'):
    con = sqlite3.connect(filename)
    
    grid_power = pd.read_sql_query("SELECT * FROM var_grid_power", con)
    grid_extra_power = pd.read_sql_query("SELECT * FROM var_grid_ex_power", con)
    grid_total_power = pd.read_sql_query("SELECT * FROM var_grid_total_power", con)
    
    grid_energy = pd.read_sql_query("SELECT * FROM var_grid_energy", con)
    grid_extra_energy = pd.read_sql_query("SELECT * FROM var_grid_ex_energy", con)
    
    ESS_level = pd.read_sql_query('SELECT * FROM var_ESS_level', con)
    ESS_power = pd.read_sql_query('SELECT * FROM var_ESS_power', con)
    
    scalars =  pd.read_sql_query('SELECT * FROM scalarvariables', con)
    
    soc_penalty = pd.read_sql_query('SELECT * FROM var_SOC_pen', con)
    
    con.close()
    
    grid_p[filename[21:-3]] = grid_power['level'].copy()
    grid_ex_p[filename[21:-3]] = grid_extra_power['level'].copy()
    grid_tot_p[filename[21:-3]] = grid_total_power['level'].copy()
    
    grid_e[filename[21:-3]] = grid_energy['level'].copy()
    grid_ex_e[filename[21:-3]] = grid_extra_energy['level'].copy() 
    
    ESS_lvl[filename[21:-3]] = ESS_level['level'].copy()
    ESS_p[filename[21:-3]] = ESS_power['level'].copy()  
    
    sclrs[filename[21:-3]] = scalars['level'].copy()
    
    soc_pen[filename[21:-3]] = soc_penalty['level'].copy()

In [15]:
#Scalar variables are collected in one DF. In this cell this df is cleaned and sorted

sclrs = sclrs.set_index(scalars['name'])
sclrs1 = sclrs.T
sclrs1['var_ESS_size'] = sclrs1['var_ESS_size'] * 1.25
sclrs1.index = sclrs1.index.astype(float)
sclrs1 = sclrs1.sort_index(ascending = True)
#sclrs1['Battery Investment Costs'] = np.array(capcost)
sclrs1

name,var_ess_rated_power,var_grid_maxpower1,var_grid_maxpower2,var_grid_maxpower3,var_grid_maxpower4,var_ESS_cost,var_electricity_cost,var_grid_tariff_winter,var_energy_tax,months,var_system_cost,var_ESS_size
0.25,173.992187,222.567813,264.7985,179.988,225.477813,30622.625,37073.514469,70548.765478,3602.265477,4.283482,145997.566090,217.490234
0.50,173.968750,222.591250,264.8075,180.000,225.501250,30618.500,71824.927749,70553.785801,3602.265477,4.283482,180767.043840,217.460937
0.75,173.968750,222.591250,264.8075,180.000,225.501250,30618.500,106514.112863,70553.785801,3602.265477,4.283482,215511.842162,217.460937
1.00,173.968750,222.591250,264.8075,180.000,225.501250,30618.500,141094.161756,70553.808901,3602.265477,4.283482,250226.077156,217.460937
1.25,173.968750,222.591250,264.8075,180.000,225.501250,30618.500,175630.581114,70553.836923,3602.265477,4.283482,284904.160597,217.460937
1.50,173.968750,222.591250,264.8075,180.000,225.501250,30618.500,210155.948334,70554.313995,3602.265477,4.283482,319553.718369,217.460937
1.75,173.968750,222.591250,264.8075,180.000,225.501250,30618.500,244566.920400,70554.313995,3602.265477,4.283482,354172.317560,217.460937
2.00,173.968750,222.591250,264.8075,180.000,225.501250,30618.500,278971.067827,70554.313995,3602.265477,4.283482,388765.690861,217.460937
2.25,173.968750,222.591250,264.8075,180.000,225.501250,30618.500,313347.825599,70554.397689,3602.265477,4.283482,423333.905931,217.460937
2.50,173.968750,222.591250,264.8075,180.000,225.501250,30618.500,347594.983816,70554.552323,3602.265477,4.283482,457875.359574,217.460937
2.75,173.968750,222.591250,264.8075,180.000,225.501250,30618.500,381805.302975,70554.335367,3602.265477,4.283482,492384.947506,217.460937
3.00,173.968750,222.591250,264.8075,180.000,225.501250,30618.500,415851.268153,70554.385242,3602.265477,4.283482,526862.159038,217.460937

There are no changes here. This may be because the electricity demnand is the same in all cases. having a battery does not change the energy source.

In [8]:
sclrs

Empty DataFrame
Columns: []
Index: []